
a {
  text-decoration: none;
}

.sign-in {
  background-color: rgb(255, 255, 255);
  margin: 2rem 1rem 2rem 1rem;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid black;
  
}

.sign-in h3 {
  margin: 0.5rem 0rem 1rem 0rem;
}

.sign-in input {
  all: unset;
  margin: 1rem 0rem 0rem 2rem;
  border-bottom: 1px solid black;
}

.sign-in input::placeholder {
  opacity: 0.5;
}

.sign-in button,
button.google-btn {
  all: unset;
  padding: 4px;
  width: 9rem;
  margin: 1rem 0rem 0rem 2.5rem;
  border-radius: 33px;
  border: 1px solid grey;
  text-align: center;
  color: black;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 1px 1px 1px black;
}



button.sign-in-btn {
  margin-top: 3.5rem;
}

.sign-in p {
  text-align: center;
  margin-top: 1rem;
  margin-left: -1rem;
}

button:hover {
  transition: 0.3s ease-out;
  background-color: black;
  color: white;
}
